## 1 Series

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# 构造函数1：array参数
obj = pd.Series([4, 7, -5, 3])
obj

In [ ]:
obj[[1,3]]

In [ ]:
obj[1:3]

In [ ]:
obj.drop(2)

In [ ]:
obj

In [ ]:
obj.values

In [ ]:
# 构造函数2：array、index参数
obj2 = pd.Series([4, 7, -5, 3], index=['a','b','c','d'])
obj2

In [ ]:
obj2['b':'d']  # Series利用标签切片包含末端

In [ ]:
obj.index

In [ ]:
obj2.index

In [ ]:
obj2['a']

In [ ]:
obj2[['a','c','d']]

In [ ]:
obj2[obj2 > 0]

In [ ]:
obj2 * 2

In [ ]:
sdata = {'Ohio': 35000, 'Texas':71000, 'Oregon':16000, 'Utah':5000}
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [ ]:
# 构造函数3：dict字典参数
obj3 = pd.Series(sdata)
obj3

In [ ]:
obj4 = pd.Series(sdata, index=states)
obj4

In [ ]:
pd.isnull(obj4)  # 等价obj4.isnull()

In [ ]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

In [ ]:
# 通过index属性更改索引
obj.index = ['Bob', 'Emily', 'Eason', 'Sukie']
obj

## 2 DataFrame

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame = pd.DataFrame(data)
frame

In [ ]:
frame.drop(0)

In [ ]:
frame[['state','pop']]

In [ ]:
frame.head()

In [ ]:
pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'])  # 指定列顺序

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one','two','three','four','five','six'])
frame2

In [ ]:
frame2.columns  # 查看列字段名

In [ ]:
frame2['state']  # 查看某列记录----通过类似字典标记/属性，可以“将DataFrame的列获取为一个Series”
# frame2.state  # IPython提供了类似属性的访问（即frame2.year）和tab补全

In [ ]:
frame2.loc['three']  # 查看某行记录

In [ ]:
frame2['debt']= 16.5
frame2

In [ ]:
frame2['debt']= np.arange(6.)
frame2

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])  # 通过Series修改DataFrame的值
frame2['debt'] = val
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
del frame2['eastern']  # del 删除列
frame2.columns

In [ ]:
# 嵌套字典：外部键——列索引、内部键——行索引
pop = {'Nevada': {2001: 2.4, 2002: 2.9}, 
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)
frame3

In [ ]:
frame3.T

In [ ]:
# 给行/列索引命名
frame3.index.name = 'year'; frame3.columns.name = 'status'
frame3

In [ ]:
frame2

In [ ]:
frame2.values

In [ ]:
frame4 = pd.DataFrame({'year':[2000, 2001],
                       'state':['Ohio', 'Ohio'],
                       'pop':[1.1, 1.2],
                       'debt':[3.6,3.7]})
# append：连接另一个df对象
frame5 = frame2.append(frame4)
frame5

In [ ]:
frame.columns[1]

In [ ]:
data = pd.DataFrame(np.arange(16).reshape(4,4), index=['row1','row2','row3','row4'], columns=['column1','column2','column3','column4'])
data

In [ ]:
data < 5

In [ ]:
data[data < 5] = 0
data

### 2.1 DataFrame_用loc和iloc进行选取

In [ ]:
data = pd.DataFrame(np.arange(16).reshape(4,4), index=['row1','row2','row3','row4'], columns=['column1','column2','column3','column4'])
data

In [ ]:
data.loc['row2', ['column2', 'column3']]  # 选择第二行的二三列

In [ ]:
data.iloc[1, [3, 2, 1]]  # 选择第二行的二三列

In [ ]:
data.iloc[0]  # ⽤iloc和整数进⾏选取

In [ ]:
data.iloc[[1, 2], [3, 2, 1]]

In [ ]:
data.iloc[:, :3][data.column3 > 5]

### 2.2 DataFrame_算术运算和数据对齐

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])
print(s1)
print(s2)

In [ ]:
s1+s2

In [ ]:
s1.add(s2, fill_value=0)  # 相加找不到对象时用0填充

## 3 函数应用和映射

In [1]:
import pandas as pd
import numpy as np

In [2]:
frame = pd.DataFrame(np.random.randn(4,3))
frame

          0         1         2
0 -1.047264 -0.081616 -0.081339
1  0.096431  0.629856 -0.500410
2 -2.573754 -1.395530  0.204096
3  1.115953  0.295477 -0.967174

In [ ]:
f = lambda x: x.max()-x.min()

In [ ]:
frame.apply(f)  # 默认axis=0
#frame.apply(f, axis=1)

In [ ]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

In [ ]:
frame.apply(f)  # 调用自定义函数f(x)

In [ ]:
format = lambda x: '%.2f' %x
frame.applymap(format)  # applymap格式化字符串

In [ ]:
frame[0].map(format)  # map是Series的格式化字符串方法

In [ ]:
frame[0] = frame[0]*10000

In [ ]:
data = pd.DataFrame(np.arange(8).reshape(2,4))
data

In [ ]:
data.sort_index(axis=1, ascending=False)  # 降序

In [ ]:
data

In [ ]:
data.sort_values([0,1],ascending=False)

In [ ]:
data2 = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
data2

In [ ]:
data2.sort_values(by='b')

In [ ]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()

In [ ]:
obj.rank(method='first')

In [ ]:
obj.rank(method='max')

In [3]:
frame.rank(axis=1)

     0    1    2
0  1.0  2.0  3.0
1  2.0  3.0  1.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

In [4]:
frame.rank(axis=0)

     0    1    2
0  2.0  2.0  3.0
1  3.0  4.0  2.0
2  1.0  1.0  4.0
3  4.0  3.0  1.0

## 4 汇总和计算描述统计

In [5]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [6]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [7]:
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [8]:
df.mean(axis=1, skipna=False)  # 取消对NaN的屏蔽

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64