## 1 Series

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# 构造函数1：array参数
obj = pd.Series([4, 7, -5, 3])
obj

In [ ]:
obj[[1,3]]

In [ ]:
obj[1:3]

In [ ]:
obj.drop(2)

In [ ]:
obj

In [ ]:
obj.values

In [ ]:
# 构造函数2：array、index参数
obj2 = pd.Series([4, 7, -5, 3], index=['a','b','c','d'])
obj2

In [ ]:
obj2['b':'d']  # Series利用标签切片包含末端

In [ ]:
obj.index

In [ ]:
obj2.index

In [ ]:
obj2['a']

In [ ]:
obj2[['a','c','d']]

In [ ]:
obj2[obj2 > 0]

In [ ]:
obj2 * 2

In [ ]:
sdata = {'Ohio': 35000, 'Texas':71000, 'Oregon':16000, 'Utah':5000}
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [ ]:
# 构造函数3：dict字典参数
obj3 = pd.Series(sdata)
obj3

In [ ]:
obj4 = pd.Series(sdata, index=states)
obj4

In [ ]:
pd.isnull(obj4)  # 等价obj4.isnull()

In [ ]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

In [ ]:
# 通过index属性更改索引
obj.index = ['Bob', 'Emily', 'Eason', 'Sukie']
obj

## 2 DataFrame

In [1]:
import pandas as pd
import numpy as np

In [16]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame = pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [17]:
frame.drop(0)

    state  year  pop
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [ ]:
frame[['state','pop']]

In [ ]:
frame.head()

In [ ]:
pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'])  # 指定列顺序

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one','two','three','four','five','six'])
frame2

In [ ]:
frame2.columns  # 查看列字段名

In [ ]:
frame2['state']  # 查看某列记录----通过类似字典标记/属性，可以“将DataFrame的列获取为一个Series”
# frame2.state  # IPython提供了类似属性的访问（即frame2.year）和tab补全

In [ ]:
frame2.loc['three']  # 查看某行记录

In [ ]:
frame2['debt']= 16.5
frame2

In [ ]:
frame2['debt']= np.arange(6.)
frame2

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])  # 通过Series修改DataFrame的值
frame2['debt'] = val
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
del frame2['eastern']  # del 删除列
frame2.columns

In [ ]:
# 嵌套字典：外部键——列索引、内部键——行索引
pop = {'Nevada': {2001: 2.4, 2002: 2.9}, 
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)
frame3

In [ ]:
frame3.T

In [ ]:
# 给行/列索引命名
frame3.index.name = 'year'; frame3.columns.name = 'status'
frame3

In [ ]:
frame2

In [ ]:
frame2.values

In [ ]:
frame4 = pd.DataFrame({'year':[2000, 2001],
                       'state':['Ohio', 'Ohio'],
                       'pop':[1.1, 1.2],
                       'debt':[3.6,3.7]})
# append：连接另一个df对象
frame5 = frame2.append(frame4)
frame5

In [ ]:
frame.columns[1]

In [ ]:
data = pd.DataFrame(np.arange(16).reshape(4,4), index=['row1','row2','row3','row4'], columns=['column1','column2','column3','column4'])
data

In [ ]:
data < 5

In [ ]:
data[data < 5] = 0
data

### 2.1 DataFrame_用loc和iloc进行选取

In [ ]:
data = pd.DataFrame(np.arange(16).reshape(4,4), index=['row1','row2','row3','row4'], columns=['column1','column2','column3','column4'])
data

In [ ]:
data.loc['row2', ['column2', 'column3']]  # 选择第二行的二三列

In [ ]:
data.iloc[1, [3, 2, 1]]  # 选择第二行的二三列

In [ ]:
data.iloc[0]  # ⽤iloc和整数进⾏选取

In [ ]:
data.iloc[[1, 2], [3, 2, 1]]

In [ ]:
data.iloc[:, :3][data.column3 > 5]

### 2.2 DataFrame_算术运算和数据对齐

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])
print(s1)
print(s2)

In [ ]:
s1+s2

In [ ]:
s1.add(s2, fill_value=0)  # 相加找不到对象时用0填充

### 2.3 函数应用和映射

In [2]:
frame = pd.DataFrame(np.random.randn(4,3))
frame

          0         1         2
0 -0.135632  0.573502  0.610899
1  2.068337 -1.212083 -0.045990
2 -2.205822 -0.516919 -1.681867
3  0.351681  0.348227 -0.188125

In [3]:
f = lambda x: x.max()-x.min()

In [4]:
frame.apply(f)  # 默认axis=0
#frame.apply(f, axis=1)

0    4.274159
1    1.785585
2    2.292765
dtype: float64

In [5]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

In [7]:
frame.apply(f)  # 调用自定义函数f(x)

            0         1         2
min -2.205822 -1.212083 -1.681867
max  2.068337  0.573502  0.610899

In [8]:
format = lambda x: '%.2f' %x
frame.applymap(format)  # applymap格式化字符串

       0      1      2
0  -0.14   0.57   0.61
1   2.07  -1.21  -0.05
2  -2.21  -0.52  -1.68
3   0.35   0.35  -0.19

In [10]:
frame[0].map(format)  # map是Series的格式化字符串方法

0    -0.14
1     2.07
2    -2.21
3     0.35
Name: 0, dtype: object

In [14]:
frame[0] = frame[0]*10000

In [15]:
frame

              0         1         2
0  -1356.315037  0.573502  0.610899
1  20683.365146 -1.212083 -0.045990
2 -22058.223438 -0.516919 -1.681867
3   3516.805035  0.348227 -0.188125